/target
/build
/bin
/.metadata
/.settings
/.classpath
/.project
/.idea
/project
/derby.log
/metastore_db
/spark-warehouse
/stocks.parquet
/emas.parquet
/lstm_model.zip
/SparkStats.html
/.SparkStats.html.crc